body {
    background-color: hsl(228, 11%, 9%);
    color: white;
    font-family: sans-serif;
}

section {
    background-color: #1E252F;
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    height: 255px;
}

h1 {
    margin-left: 30px;
    padding-top: 30px;
}

p {
    margin-left: 30px;
}

button {
    background: #FC7514;
    border: none;
    padding: 10px 150px;
    border-radius: 10px;
    color: white;
}

.button-div {
    margin: 0 auto;
}

li {
    display: inline-block;
    background: #585F69;
    border-radius: 50%;
    padding: 20px;
    margin: 10px;
    height: 8px;
    width: 8px;
    line-height: 8px;
    text-align: center;
}

li:hover {
    background-color: #FC7514;
    cursor: pointer;
}

li:focus {
    background-color: white;
    color: #FC7514
}

button:hover {
    cursor: pointer;
}

button:disabled {
    background: gray;
}

div {
    text-align: center;
    margin-bottom: 25px;
}


@media screen and (max-width: 1000px) {
    section{
        width: 100%;
    }
}